@import "./parciales/reset";

body{
    //background-color: cadetblue;
    padding-top: 100px;
}

#titulo{
    text-align:center;
    width:500px;
    margin: 0 auto;
    //color: white;
}

.rojoError{
    background-color: red;
    color: white;
}

.postulanteEliminado{
    color: red
}


#resultado{
    margin: 15px;
    //color: green;
}

h2{
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    margin: 15px;
    color: blue;
  }